/* --------------------------- config font family --------------------------- */

$primary-font-family : "webYekan", Poppins, Helvetica, "sans-serif";
$secondary-font-family: "dana" , Poppins, Helvetica, "sans-serif" ;
$tertiary-font-family: "yekanbakh" , Poppins, Helvetica, "sans-serif" ;



